@charset "UTF-8";
#map-div {
	width: 100%;
}

.head-div{
	background: #45484d;
}

#search-div{
	float: left;
	margin-top: 50px;
}

#search-input{
	float: left;
	width: 500px;
}

.search-btn{
	float: left;
}