<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>music</title>
<link rel="stylesheet" href="css/music.css">
<link rel="stylesheet" href="css/common.css">
<script src="https://y.gtimg.cn/music/h5/player/player.js?max_age=2592000"></script>
</head>
<body>
<iframe src="/music-player" frameborder="0"></iframe>
<script type="text/javascript">
	//初始化播放组件
	var player = new QMplayer({ target: "auto" }); // 设置 target=music 时会拉起QQ音乐客户端进行播放

	// 播放歌曲
	//player.play("004Z8Ihr0JIu5s");

</script>
</body>
</html>