<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>music player</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/music-player.css">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="height:15%">
		<a id="back-btn" class="btn btn-default" href="#">
			<span class="glyphicon glyphicon-menu-left" style="font-size:40px;"></span>
			<span>返回</span>
		</a>
		<div id="title-div">音乐</div>
	</div>
	
	<div style="height:35%">
		<div id="name-div"></div>
		<div id="singer-div"></div>
	</div>
	
	<div id="player-btns-div" style="height:30%">
		<div id="last-btn-div">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-step-backward"></span>
			</button>
		</div>
		
		<div id="play-btn-div">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-play"></span>/<span class="glyphicon glyphicon-pause"></span>
			</button>
		</div>
		
		<div id="next-btn-div">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-step-forward"></span>
			</button>
		</div>
	</div>
	<div id="songs-btns-div" style="height:20%">
		<div id="search-btn-div">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>
		<div id="list-btn-div">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-list"></span>
			</button>
		</div>
	</div>
	
	<script>
		window.onload=function(){
			parent.send_song();
		}

		function change_song(song){
			$("#name-div").html(song.title);
			var singer=song.singer+'-'+song.album;
			$("#singer-div").html(singer);
		}
		
		$(function(){
			$("#search-btn-div>button").click(function(){
				window.location.href="/music-search";
			})
			
			$("#back-btn").click(function(){
				parent.location.href="/home";
			})
			
			$("#play-btn-div>button").click(function(){
				parent.play_pause();
			})
		})
	</script>
</body>
</html>