<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>home</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/common.css">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="height:20%;"></div>
	<div class="container-fluid" style="height:60%;">
		<div class="row">
			<div class="col-md-3 col-xs-3">
				<div class="module-box-div">
					<div class="images-div">
						<img src="/images/module/weather-icon.png" data-url="/weather">
					</div>
					<div class="module-name-div">天气</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-3">
				<div class="module-box-div">
					<div class="images-div">
						<img src="/images/module/map-icon.png" data-url="https://map.baidu.com/"
						style="background:linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);">
					</div>
					<div class="module-name-div">百度地图</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-3">
				<div class="module-box-div">
					<div class="images-div">
						<img src="/images/module/fm-icon.png" data-url="/video"
						style="background: linear-gradient(to bottom, rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%);">
					</div>
					<div class="module-name-div">电台</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-3">
				<div class="module-box-div">
					<div class="images-div">
						<img src="/images/module/music-icon.png"
						style="background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);">
					</div>
					<div class="module-name-div">音乐</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3 col-xs-3">
				<div class="module-box-div">
					<div class="images-div">
						<img src="/images/module/news-icon.png"
						style="background: linear-gradient(to bottom, rgba(246,230,180,1) 
						0%,rgba(237,144,23,1) 100%);">
					</div>
					<div class="module-name-div">新闻</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-3">
				<div class="module-box-div">
					<div class="images-div">
						<img src="/images/module/video-icon.png" data-url="http://www.soku.com/"
						style="background: linear-gradient(to bottom, rgba(251,131,250,1) 0%,rgba(233,60,236,1) 100%);">
					</div>
					<div class="module-name-div">视频搜索</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-3">
				<div class="module-box-div">
					<div class="images-div">
						<img src="/images/module/com-icon.png"
						style="background: linear-gradient(to bottom, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);">
					</div>
					<div class="module-name-div">通讯</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-3">
				<div class="module-box-div">
					<div class="images-div">
						<img src="/images/module/status-icon.png"
						style="background: linear-gradient(to bottom, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);">
					</div>
					<div class="module-name-div">车辆状况</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		$(function(){
			$(".images-div>img").click(function(){
				window.location.href=$(this).attr("data-url");
			});
		});
	</script>
</body>
</html>