<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>map</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/map.css">
<link rel="stylesheet" href="css/common.css">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://api.map.baidu.com/api?v=3.0&ak=oC5dSYZM3lRcH2mVqkiPqO3TSHnbbGc5"></script>
</head>
<body>
	<div class="head-div" style="height:15%">
		<a id="back-btn" class="btn btn-default" href="/home">
			<span class="glyphicon glyphicon-menu-left" style="font-size:40px;"></span>
			<span>返回</span>
		</a>
		<div id="search-div">
			<input type="text" class="form-control" id="search-input"  placeholder="搜索目的地...">
			<button type="button" class="btn btn-default search-btn">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>
		<div id="title-div">百度地图</div>
	</div>
	<div id="map-div" style="height:85%"></div>
	<script type="text/javascript"> 
		var map = new BMap.Map("map-div");  // 创建地图实例  
		var point = new BMap.Point(108.947,34.346);  // 创建点坐标  
		map.centerAndZoom(point, 12);  // 初始化地图，设置中心点坐标和地图级别  
		map.enableScrollWheelZoom(true);  //开启鼠标滚轮缩放
		
		var local = new BMap.LocalSearch(map, {
		    renderOptions:{map: map}      
		});  //地点搜索初始化
		
		function searchPOI(content){
			local.search(content);
		}
		
		$(function(){
			$(".search-btn").click(function(){
				var content = $("#search-input").val();
				if(content != ''){
					searchPOI(content);
				}
			});
		})
	</script>  
</body>
</html>